venv/

*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

*.log
*.tmp
*.swp
*.swo
*.sublime-workspace
*.sublime-project

*.DS_Store
*.vscode/
.idea/

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/coverage/
frontend/.env

frontend/cypress/videos/
frontend/cypress/screenshots/

*.tsbuildinfo

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
